* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.mw-2-5r {
  max-width: 2.5rem;
}

.mw-16-3r {
  max-width: 16.3rem;
}

.w-fit {
  width: fit-content;
}

.project {
  transition: border-color 0.2s;
}

.project:hover {
  border-color: rgb(13, 202, 240) !important;
}

.contact {
  transition: background-color 0.2s;
}

.contact:hover {
  background-color: rgb(0, 0, 0, 50%)
}