* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.maxw-2-5r {
  max-width: 2.5rem;
}

.maxw-16-3r {
  max-width: 16.3rem;
}

.maxw-21r {
  max-width: 21rem;
}

.maxw-33r {
  max-width: 33rem
}

.minw-16r {
  min-width: 16rem;
}


.w-fit {
  width: fit-content;
}

.h-2-5r {
  height: 2.5rem;
}

.max-w-20r {
  max-width: 20rem;
}

.project {
  transition: border-color 0.2s;
}

.project:hover {
  border-color: rgb(13, 202, 240) !important;
}

.contact {
  transition: background-color 0.2s;
}

.contact:hover {
  background-color: rgb(0, 0, 0, 50%)
}

.place-items-center {
  place-items: center;
}

.font-sys-ui {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-cyan {
  color: #78c0ff;
}